Flask==2.0.2
certifi==2021.10.8
dnspython==2.2.0
gunicorn==20.1.0
Jinja2==3.0.3
numpy
pandas
joblib==0.13.2
kiwisolver==1.1.0
lightgbm==2.2.1
patsy==0.5.1
pip==19.1.1
pyparsing==2.4.0
python-dateutil==2.8.0
scikit-learn==1.0.2
setuptools==41.0.1
six==1.12.0
wheel==0.33.4
wincertstore==0.2
xgboost
flask-cors